body { font-family: 'lato', sans-serif; color: #fff; }

.landing-container { padding: 20% 20%; }
.landing-hero {
    h1 { color: #FFF; }
    background: rgba(51, 51, 51, .4);
    padding: 50px;
}
.footer { text-align: center; color: #fff; padding: 20px;
    a { color: #fff; }
}
